<div class="container">
  <h2 class="mr-lg">All questions</h2>

  <%= render 'form', question: @question%>
</div>

<% @questions.each do |question| %>
  <div class="mb-sm container">
    <%= render question %>
  </div>
<% end %>
